

<form action="setrequestbean" >
  <table align="center" border="0">
  <tr><td> Transaction ID </td><td>  <input type="text" name="transid"/>  </td></tr>
  <tr><td> Market Code   </td><td><input type="text" name="marketcode"/>   </td></tr>
  <tr><td>Account Number</td><td><input type="text" name="acno"/>  </td></tr>
  <tr><td>Txn Amount    </td><td> <input type="text" name="txnamount"/>  </td></tr>
  <tr><td> Bank          </td><td><input type="text" name="bankcode"/>  </td> </tr>
  </table>  <br>
  <center> <input type="submit" value="submit">  </center>
</form>


